
$primaryBtnColor: rgb(61, 119, 133);
$primaryHoverColor: rgba(62, 147, 167, 0.842);
$textColor: white;


button{
    background-color: $primaryBtnColor;
    color: $textColor;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 3%;
   
}

button:hover{
    background-color: $primaryHoverColor;
}